apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '2'
  name: knowledge-graph-api
  namespace: cortex-knowledge
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: knowledge-graph-api
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: '2026-01-03T21:07:56Z'
      creationTimestamp: null
      labels:
        app: knowledge-graph-api
        itil-component: knowledge-graph
    spec:
      containers:
      - args:
        - "pip install --no-cache-dir \\\n  fastapi \\\n  uvicorn \\\n  neo4j \\\n\
          \  prometheus-client \\\n  pydantic && \\\npython /app/api.py\n"
        command:
        - /bin/bash
        - -c
        env:
        - name: NEO4J_URI
          value: bolt://knowledge-graph:7687
        - name: NEO4J_USER
          value: neo4j
        - name: NEO4J_PASSWORD
          value: cortex-knowledge-graph
        image: python:3.11-slim
        imagePullPolicy: IfNotPresent
        name: api
        ports:
        - containerPort: 8000
          protocol: TCP
        - containerPort: 9091
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 256Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /app
          name: app
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: knowledge-graph-api-app
        name: app
