apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '2'
  name: value-stream-optimizer
  namespace: cortex-knowledge
spec:
  progressDeadlineSeconds: 600
  replicas: 0
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: value-stream-optimizer
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: '2026-01-03T21:07:56Z'
      creationTimestamp: null
      labels:
        app: value-stream-optimizer
        itil-component: value-stream
    spec:
      containers:
      - args:
        - "pip install --no-cache-dir \\\n  pymongo \\\n  prometheus-api-client \\\
          \n  prometheus-client \\\n  pyyaml \\\n  numpy \\\n  pandas \\\n  scipy\
          \ \\\n  matplotlib \\\n  networkx \\\n  fastapi \\\n  uvicorn && \\\npython\
          \ /app/optimizer.py\n"
        command:
        - /bin/bash
        - -c
        env:
        - name: PYTHONUNBUFFERED
          value: '1'
        image: python:3.11-slim
        imagePullPolicy: IfNotPresent
        name: optimizer
        ports:
        - containerPort: 8000
          protocol: TCP
        - containerPort: 9093
          protocol: TCP
        resources:
          limits:
            cpu: '1'
            memory: 1Gi
          requests:
            cpu: 250m
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /app/config
          name: config
        - mountPath: /app
          name: app
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: value-stream-config
        name: config
      - configMap:
          defaultMode: 420
          name: value-stream-optimizer-app
        name: app
