apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: checkmk
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/ry-ops/cortex-gitops.git
    targetRevision: main
    path: apps/cortex-system
    directory:
      include: 'checkmk-*.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: checkmk
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
