apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '1'
  labels:
    app: postgres-exporter
  name: postgres-exporter
  namespace: cortex-system
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: postgres-exporter
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: postgres-exporter
    spec:
      containers:
      - env:
        - name: DATA_SOURCE_NAME
          value: postgresql://cortex:cortex_postgres_123@postgres.cortex-system.svc.cluster.local:5432/cortex?sslmode=disable
        image: prometheuscommunity/postgres-exporter:latest
        imagePullPolicy: Always
        name: postgres-exporter
        lifecycle:
          preStop:
            exec:
              command:
              - /bin/sh
              - -c
              - sleep 15
        ports:
        - containerPort: 9187
          name: metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /metrics
            port: 9187
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          successThreshold: 1
          failureThreshold: 2
        livenessProbe:
          httpGet:
            path: /metrics
            port: 9187
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 50m
            memory: 64Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
