apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '59'
    field.cattle.io/publicEndpoints: '[{"addresses":["10.88.145.200"],"port":443,"protocol":"HTTPS","serviceName":"cortex-chat:cortex-chat","ingressName":"cortex-chat:cortex-chat","hostname":"chat.ry-ops.dev","path":"/","allNodes":false},{"addresses":["10.88.145.210"],"port":80,"protocol":"TCP","serviceName":"cortex-chat:cortex-chat-frontend","allNodes":false}]'
  name: cortex-chat
  namespace: cortex-chat
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: cortex-chat
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: '2026-01-08T19:31:39-06:00'
      creationTimestamp: null
      labels:
        app: cortex-chat
    spec:
      containers:
      - image: 10.43.170.72:5000/cortex-chat-frontend:latest
        imagePullPolicy: Always
        name: frontend
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 50m
            memory: 64Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: cortex-chat-backend
      serviceAccountName: cortex-chat-backend
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: cortex-chat-nginx
        name: nginx-config
      - configMap:
          defaultMode: 420
          name: frontend-html
        name: frontend-html
